exportPattern("^[[:alpha:]]+")
import('sp')
import('rgdal')
import('raster')
import('ggplot2')
import('classInt')
import('mapdata')
import('mapproj')
import('RCurl')
import('ROAuth')
import('twitteR')